{
  "default": {
    "root_dir": "/tmp/polaris",
    "cache_dir": "cache",
    "graph_dir": "graph",
    "log_dir": "log"
  },
  "satellite": {
    "lightsail2": {
      "name": "LightSail-2",
      "_comment": "Fields that begin with an underscore are ignored but preserved.  _comment is suggested as the default way to include comments anywhere they might be needed.",
      "batch": {
	"fetch": true,
	"learn": true,
	"viz": false
      }
    }
  }
}
